span {
  font: normal normal 400 500%/normal "Quicksand", sans-serif;
}

.frame {
margin: auto;
display: flex;
flex-wrap: wrap;
}

.center-text {
  text-align: center;
}

.clicks-area {
  width: 50%;
}

.number-area {
  width: 100%;
}

.cat-pic,
.cat-pic2 {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
