span {
  font: normal normal 400 500%/normal "Quicksand", sans-serif;
}

h3 {
  height: 3vw;
  font: normal normal 400 200%/normal "Quicksand", sans-serif;
}

ul {
  padding-left: 0;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
}

.b-controls__input-name--hidden,
.b-controls__input-url--hidden,
.b-controls__input-clicks--hidden,
.b-controls__button-save--hidden,
.b-controls__button-cancel--hidden {
  visibility: hidden;
}

.b-controls__input-name,
.b-controls__input-url,
.b-controls__input-clicks,
.b-controls__button-save,
.b-controls__button-cancel {
  visibility: visible;
}

.b-controls {
  margin-top: 3vw;
  width: 10%;
}

.frame {
margin: auto;
display: flex;
flex-wrap: wrap;
}

.center-text, h3 {
  text-align: center;
}

.clicks-area {
  width: 50%;
}

.number-area {
  width: 80%;
}

.cat-pic {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.select-bar {
  width: 15vw;
}
